.background    { background: rgb(31, 84, 169);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(210, 0, 0); }
.wall          { background: rgb(37, 177, 0); }
.arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
					
	border-left: 20px solid #7E7E7F; }
.arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-right: 20px solid #7E7E7F; }


.actor  { position: absolute;  }
.coin    { background: rgb(254, 231, 3); }
.player { background: rgb(255, 118, 25); }


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
